.itemA:hover{
    background-color: var(--bs-success-text);
}
.itemI:hover{
    background-color: var(--bs-primary-text);
}
.itemU:hover{
    background-color: var(--bs-danger-text);
}
.itemA{
    min-width: 140px;
}
.itemI{
    min-width: 140px;
}
.itemU{
    min-width: 140px;
}